# https://www.mkdocs.org/user-guide/configuration/

# Project information
site_name: DP5
site_author: Goodman Lab
copyright: Copyright &copy Goodman Lab

# Repository
repo_name: Goodman-lab/DP5
repo_url: https://github.com/Goodman-lab/DP5

# Configuration
use_directory_urls: false

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - NMR Description Format: nmr_description_format.md
  - Implementation: implementation.md


theme:
  name: material
  locale: en_GB
  features:
  - announce.dismiss
  - content.code.annotate
  - content.code.copy
  - navigation.footer
  - navigation.indexes
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
#  - navigation.tracking
  - search.highlight
  - search.suggest
  - toc.follow
  - toc.integrate
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    toggle:
      icon: material/weather-night
      name: Switch to light mode

markdown_extensions:
  # Inbuilt extensions
  # https://python-markdown.github.io/extensions/
  - admonition
  - footnotes
  - meta
  - sane_lists
  - smarty
  - tables
  - toc:
      permalink: true
  # Third party extensions
  # https://facelessuser.github.io/pymdown-extensions/
  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
  - pymdownx.keys
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Goodman-lab
      name: Goodman Lab

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
