asteval==0.9.31 ; python_version >= "3.9" and python_version < "3.13"
contourpy==1.1.0 ; python_version >= "3.9" and python_version < "3.13"
cycler==0.11.0 ; python_version >= "3.9" and python_version < "3.13"
cython==3.0.0 ; python_version >= "3.9" and python_version < "3.13"
dill==0.3.7 ; python_version >= "3.9" and python_version < "3.13"
fonttools==4.41.1 ; python_version >= "3.9" and python_version < "3.13"
future==0.18.3 ; python_version >= "3.9" and python_version < "3.13"
importlib-resources==6.0.0 ; python_version >= "3.9" and python_version < "3.10"
kiwisolver==1.4.4 ; python_version >= "3.9" and python_version < "3.13"
lmfit==1.2.2 ; python_version >= "3.9" and python_version < "3.13"
matplotlib==3.7.2 ; python_version >= "3.9" and python_version < "3.13"
multiprocess==0.70.15 ; python_version >= "3.9" and python_version < "3.13"
nmrglue==0.9 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.25.1 ; python_version >= "3.9" and python_version < "3.13"
openbabel-wheel==3.1.1.16 ; python_version >= "3.9" and python_version < "3.13"
packaging==23.1 ; python_version >= "3.9" and python_version < "3.13"
pandas==2.0.3 ; python_version >= "3.9" and python_version < "3.13"
pathos==0.3.1 ; python_version >= "3.9" and python_version < "3.13"
patsy==0.5.3 ; python_version >= "3.9" and python_version < "3.13"
pillow==10.0.0 ; python_version >= "3.9" and python_version < "3.13"
pox==0.3.3 ; python_version >= "3.9" and python_version < "3.13"
ppft==1.7.6.7 ; python_version >= "3.9" and python_version < "3.13"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "3.13"
pyqt5-qt5==5.15.2 ; python_version >= "3.9" and python_version < "3.13"
pyqt5-sip==12.12.2 ; python_version >= "3.9" and python_version < "3.13"
pyqt5-stubs==5.15.6.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt5==5.15.9 ; python_version >= "3.9" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.13"
pytz==2023.3 ; python_version >= "3.9" and python_version < "3.13"
qml==0.4.0.27 ; python_version >= "3.9" and python_version < "3.13"
rdkit==2023.3.2 ; python_version >= "3.9" and python_version < "3.13"
scipy==1.11.1 ; python_version >= "3.9" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
statsmodels==0.14.0 ; python_version >= "3.9" and python_version < "3.13"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "3.13"
uncertainties==3.1.7 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.16.2 ; python_version >= "3.9" and python_version < "3.10"
